// colores
// color fondo texto principal
$color-principal: #FF6B6B;
// color fondo imagen
$color-imagen:#FFD93D;
// color titulo
$color-titulo:#4D96FF;
// gradientes
$grandients1:rgb(0,0,0);
$grandients2: linear-gradient(159deg, rgba(0,0,0,1) 0%, rgba(178,194,191,0.908000700280112) 37%, rgba(4,0,5,1) 40%, rgba(1,16,19,1) 100%);